################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MoveFiles/FileContentIndex
*.wsuo
*.json
/.vs/slnx.sqlite
